body {
  background-color: #EFFBFF;
#education{
    color: #00108A;
    margin: 5px;
    font-family: sans-serif;
}
#name{
    color: #00108A;
    font-style: italic
     padding: 5px; 
}
#aspiration{
    color: #00108A;
     padding: 5px; 
}
#table{
    color: #00108A;
    margin: 5px;
    font-family: sans-serif;
}
#skills{
    color: #00108A;
     padding: 5px; 
     font-family: sans-serif;
} 
